<div class="container mt-4">
  <h1 class="text-center">Add Order</h1>

  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="mt-4">
    <div class="form-group">
      <label for="customerId">Customer ID:</label>
      <input type="text" id="customerId" class="form-control" formControlName="customerId" placeholder="Enter Customer ID" required>
      <div *ngIf="isSubmitClicked && orderForm.get('customerId')?.invalid && orderForm.get('customerId')?.touched" class="text-danger">
        <div *ngIf="orderForm.get('customerId')?.errors?.['required']">
          Customer ID is required.
        </div>
        <div *ngIf="orderForm.get('customerId')?.errors?.['pattern']">
          Customer ID should only contain numbers.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="orderStatus">Order Status:</label>
      <select id="orderStatus" class="form-control" formControlName="orderStatus" required>
        <option value="">-- Select Order Status --</option>
        <option value="COMPLETE">COMPLETE</option>
        <option value="CANCELLED">CANCELLED</option>
      </select>
      <div *ngIf="isSubmitClicked && orderForm.get('orderStatus')?.invalid && orderForm.get('orderStatus')?.touched" class="text-danger">
        <div *ngIf="orderForm.get('orderStatus')?.errors?.['required']">
          Order Status is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="storeId">Store ID:</label>
      <input type="text" id="storeId" class="form-control" formControlName="storeId" placeholder="Enter Store ID" required>
      <div *ngIf="isSubmitClicked && orderForm.get('storeId')?.invalid && orderForm.get('storeId')?.touched" class="text-danger">
        <div *ngIf="orderForm.get('storeId')?.errors?.['required']">
          Store ID is required.
        </div>
        <div *ngIf="orderForm.get('storeId')?.errors?.['pattern']">
          Store ID should only contain numbers.
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block" (click)="onSubmitClick()">Add Order</button>
    <div *ngIf="isSubmitClicked && orderForm.invalid" class="text-danger mt-2">
      Please fill in all the required fields.
    </div>
  </form>
</div>
