

.container {

    max-width: 1350px;

    margin: 0 auto;

  }

 

  .card-header {

    background-color: #f8f9fa;

  }

 

  .card-title {

    font-size: 24px;

    margin-bottom: 20px;

  }

 

  .table {

    font-size: 14px;

  }

 

  .table th,

  .table td {

    vertical-align: middle;

  }

 

  .btn-primary {

    background-color: #007bff;

    border-color: #007bff;

  }

 

  .btn-primary:hover {

    background-color: #0069d9;

    border-color: #0062cc;

  }

 

  .input-group .form-control {

    border-top-right-radius: 0;

    border-bottom-right-radius: 0;

  }

 

  .input-group-append button {

    border-top-left-radius: 0;

    border-bottom-left-radius: 0;

  }

  



  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .pagination .page-item > .page-link {
    border-radius: 0;
  }
  
  .pagination .page-item:first-child > .page-link,
  .pagination .page-item:last-child > .page-link {
    border-radius: 0.25rem;
  }
  
  .pagination .page-item.disabled .page-link {
    background-color: #f7f7f7;
    color: #999;
    pointer-events: none;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .pagination-link {
    padding: 0.375rem 0.75rem;
  }
  

  .small-form {
    max-width: 400px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add some padding around the form */
  }
  
  .small-form h3 {
    font-size: 18px; /* Adjust the font size of the heading */
  }
  
  .small-form .form-control {
    height: 30px; /* Adjust the height of the input fields */
    font-size: 14px; /* Adjust the font size of the input fields */
  }
  
  .small-form .text-danger {
    font-size: 12px; /* Adjust the font size of the error messages */
  }
  
  .small-form button {
    padding: 5px 10px; /* Adjust the padding of the submit button */
    font-size: 14px; /* Adjust the font size of the submit button */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  