<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,400;0,800;1,400&display=swap"
    rel="stylesheet"> -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css"
    integrity="sha384-PJsj/BTMqILvmcej7ulplguok8ag4xFTPryRq8xevL7eBYSmpXKcbNVuy+P0RMgq" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

  <title>Order Inventory</title>
</head>

<body>
<!-- ==================main================== -->

<section class="main">
  <div class="container">
    <div class="row pt-5">
      <div class="col-lg-6 pt-5">
          <p class="m-0 pt-5">WINTER FASHION</p>
          <h1>Fashion Collection 2023</h1>
          <a href="product"><button class="btn2 mt-3">Products</button></a>
      </div>
    </div>
  </div>
</section>

<!-- ------------------------------- -->

<section class="next py-5">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card zoom-n-rotate">
          <!-- <img src="../img/beautiful.jpg" class="img-fluid" alt="women"> -->
          <img src="../../assets/women.jpg" class="img-fluid" alt="women">
          <button class="btnc">Shop For More</button>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card zoom-n-rotate">
          <!-- <img src="../img/beautiful.jpg" class="img-fluid" alt="women"> -->
          <img src="../../assets/kids.jpg" class="img-fluid" alt="women">
          <button class="btnc">Shop For More</button>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card zoom-n-rotate">
          <!-- <img src="../img/beautiful.jpg" class="img-fluid" alt="women"> -->
          <img src="../../assets/men2.jpg" class="img-fluid" alt="women">
          <button class="btnc">Shop For More</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ------------------------------------------------ -->

    <section class="product py-5">
      <div class="container py-5">
        <h1>Our Product</h1>
        <div class="row pt-5">
          <div class="col-lg-3">
            <div class="card border-0">
              <div class="card-body py-5 bg-light">
                <img src="../../assets/handbag.jpg" class="img-fluid" alt="">
              </div>
              <div class="card-footer border-0 text-center bg-white">
                <h5>Girl's Bag</h5>
                <p class="m-0">Rs. 3000</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card border-0">
              <div class="card-body py-5 bg-light">
                <img src="../../assets/shirts.jpg" class="img-fluid" alt="">
              </div>
              <div class="discount">-20%</div>
              <div class="card-footer border-0 text-center bg-white">
                <h5>Men's Shits</h5>
                <p class="m-0">Rs. 1500</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card border-0">
              <div class="card-body py-5 bg-light">
                <img src="../../assets/shoes.jpg" class="img-fluid" alt="">
              </div>
              <div class="card-footer border-0 text-center bg-white">
                <h5>Formal Shoes</h5>
                <p class="m-0">Rs. 2500</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card border-0">
              <div class="card-body py-5 bg-light">
                <img src="../../assets/watch.jpg" class="img-fluid" alt="">
              </div>
              <div class="discount">-50%</div>
              <div class="card-footer border-0 text-center bg-white">
                <h5>Watch</h5>
                <p class="m-0">Rs. 3000</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-lg-3">
            <div class="card border-0">
              <div class="card-body py-5 bg-light">
                <img src="../../assets/glasses.jpg" class="img-fluid" alt="">
              </div>
              <div class="discount">-5%</div>
              <div class="card-footer border-0 text-center bg-white">
                <h5>Sunglasses</h5>
                <p class="m-0">Rs. 1000</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card border-0">
              <div class="card-body py-5 bg-light">
                <img src="../../assets/t-shirts.jpg" class="img-fluid" alt="">
              </div>
              <div class="discount">-25%</div>
              <div class="card-footer border-0 text-center bg-white">
                <h5>T-shirts</h5>
                <p class="m-0">Rs. 500</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card border-0">
              <div class="card-body py-5 bg-light">
                <img src="../../assets/highheel.jpg" class="img-fluid" alt="">
              </div>
              <div class="card-footer border-0 text-center bg-white">
                <h5>High Heels</h5>
                <p class="m-0">Rs. 2000</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card border-0">
              <div class="card-body py-5 bg-light">
                <img src="../../assets/images (3).jpg" class="img-fluid" alt="">
              </div>
              <div class="card-footer border-0 text-center bg-white">
                <h5>Jeans Pants</h5>
                <p class="m-0">Rs. 1500</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- ========================================= -->
<!-- 
<section class="filter my-5">
  <div class="container-fluid container1 py-5">
    <div class="row">
      <div class="col-lg-5 text-center">
        <h1>New Arrivals</h1>
      </div>
      <div class="col-lg-6 m-auto text-center">
        <button type="button" class="control" data-filter="all">All</button>
        <button type="button" class="control" data-filter="white">White</button>
        <button type="button" class="control" data-filter="blue">Blue</button>
        <button type="button" class="control" data-filter="pink">Pink</button>
        <button type="button" class="control" data-filter="black">Black</button>
      </div>
    </div>
    <div class="row pt-5 g-2">
      <div class="col-lg-4 mix pink">
        <div class="card border-0">
          <img src="../../assets/pink1.jpg" class="img-fluid" alt="">
          <div class="circle"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><style>svg{fill:#fbfcfe}</style><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></div>
        </div>
      </div>
      <div class="col-lg-4 mix black">
        <div class="card border-0">
          <img src="../../assets/black1.jpg" class="img-fluid" alt="">
          <div class="circle"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><style>svg{fill:#fbfcfe}</style><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></div>
        </div>
      </div>
      <div class="col-lg-4 mix black">
        <div class="card border-0">
          <img src="../../assets/blackwo.jpg" class="img-fluid" alt="">
          <div class="circle"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><style>svg{fill:#fbfcfe}</style><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></div>
        </div>
      </div>
      <div class="col-lg-4 mix blue">
        <div class="card border-0">
          <img src="../../assets/blue.jpg" class="img-fluid" alt="">
          <div class="circle"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><style>svg{fill:#fbfcfe}</style><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></div>
        </div>
      </div>
      <div class="col-lg-4 mix white">
        <div class="card border-0">
          <img src="../../assets/white.jpg" class="img-fluid" alt="">
          <div class="circle"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><style>svg{fill:#fbfcfe}</style><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></div>
        </div>
      </div>
      <div class="col-lg-4 mix blue">
        <div class="card border-0">
          <img src="../../assets/bluewomen.jpg" class="img-fluid" alt="">
          <div class="circle"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><style>svg{fill:#fbfcfe}</style><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<section class="news pt-5">
  <div class="container-fluid pt-3 text-white">
    <div class="row">
      <div class="col-lg-11 m-auto">
        <div class="row">
        <div class="col-lg-2">
          <h3 class="pb-3">Category</h3>
          <p class="m-0"><a href="#">Product</a></p>
          <p class="m-0"><a href="#">Customer</a></p>
          <p class="m-0"><a href="#">Order</a></p>
          <p class="m-0"><a href="#">Inventory</a></p>
          <p class="m-0"><a href="#">Fashion</a></p>
        </div>
        <div class="col-lg-2">
          <h3 class="pb-3">Company</h3>
          <p class="m-0"><a href="#">About</a></p>
          <p class="m-0"><a href="#">News</a></p>
          <p class="m-0"><a href="#">FAQ's</a></p>
          <p class="m-0"><a href="#">Contact</a></p>
        </div>
        <div class="col-lg-3">
          <h3 class="pb-3">Address</h3>
          <p>Rajiv Gandhi Infotech Park, Plot No.14, Phase III MIDC SEZ, Village Man Taluka Mulshi, Haveli, Pune, Maharashtra 411057</p>
          <a href="#">COntact@Fashion.com</a>
        </div>
        <div class="col-lg-5">
          <h3 class="pb-3">Newsletter</h3>
          <form action="" class="d-flex">
            <input type="text" class="sub p-3" placeholder="Your Email">
            <button class="btns">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </div>
  </div>
</section>

  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script> -->


    <!-- <script>
      var containerE1 = document.querySelector('.container1');
      var mixer = mixitup(containerE1);
    </script> -->



<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.js"></script> -->
</body>

</html>
