body {
  padding-top: 50px;
  background-color: #f8f9fa;
}

.container {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.list-group {
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.list-group-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ced4da;
}

.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.content-section {
  margin-top: 30px;
}


/* Custom CSS styles */
.small-form {
  max-width: 300px; /* Set the maximum width of the form */
  margin: 0 auto; /* Center the form horizontally */
}

.small-form .form-control {
  padding: 0.375rem 0.75rem; /* Adjust the padding of the form controls */
  font-size: 0.875rem; /* Adjust the font size of the form controls */
}

.small-form .text-danger {
  font-size: 0.75rem; /* Adjust the font size of the error messages */
}
